body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background: url('./images/building.jpg') no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
}

header {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

section {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 8px;
}

footer {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
